.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    width: 512px; /* Adjust the width as needed */
    height: 512px; /* Adjust the height as needed */
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    width: 64px; /* Adjust the cell size as needed */
    height: 64px; /* Adjust the cell size as needed */
    display: flex;
    margin: auto;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

.pr-box {
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0px;
    padding: 0px;
}